name: Latest blog post workflow
on: {}
jobs: 
    update-readme-with-blog: 
        name: Update this repo's README with latest blog posts
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v2
            - uses: gautamkrishnar/blog-post-workflow@master
              with: 
                max_post_count: "7"
                feed_list: "https://dev.to/feed/kristi, https://medium.com/feed/@serajkristi"
